body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 400px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}
button, #submit{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;	

}
button:hover, #submit:hover{
	background-color: white;
	color: #4CAF50;	
}
button:active, #submit:active{
	transform: translateY(4px);
}

#textBar{
	padding: 10px 15px;
}
h1{
	color: #4CAF50; 
	text-align: center; 
	transform: translateY(75px); 
	font-size: 50px; 
	font-family: sans-serif;"
}
#keyboard{
	padding: 10px;
	transform: translateY(80%);
	text-align: center;
}
form{
	transform: translateY(260%);
	text-align: center;
}
